@charset "utf-8";
/* CSS Document */
/*初始化*/
body {font-family:"微软雅黑",'Microsoft YaHei'; font-size:14px; background:#fff; word-break:break-all; color:#666; font-weight: normal}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
table{ margin:0 auto; border-collapse:collapse;border-spacing:0}
.clearfix:after {display:block; content:''; clear:both; visibility:hidden}
.none {display:none}
.clear{ clear:both;}
.margin-center {margin:0 auto; text-align:center}
article,aside,footer,header,nav,section,figure,figcaption {display:block; }
a {color:#6e6b6b;text-decoration:none;}
a:hover {color:#138f7c;}
input, img {vertical-align:middle; border:0; }
select::-ms-expand { display: none; }
.lL{float: left}
.rR{float: right}
.inlineblock { *display: inline; *zoom: 1; display: inline-block;}