<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huizhongcf.cloud.dao.LenderLoginMapper" >
  <resultMap id="BaseResultMap" type="com.huizhongcf.cloud.model.LenderLogin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="login_pwd" property="loginPwd" jdbcType="VARCHAR" />
    <result column="trade_pwd" property="tradePwd" jdbcType="VARCHAR" />
    <result column="activate_code" property="activateCode" jdbcType="VARCHAR" />
    <result column="activate_overtime" property="activateOvertime" jdbcType="INTEGER" />
    <result column="activate_state" property="activateState" jdbcType="CHAR" />
    <result column="referral_code" property="referralCode" jdbcType="VARCHAR" />
    <result column="certification_time" property="certificationTime" jdbcType="INTEGER" />
    <result column="register_way" property="registerWay" jdbcType="CHAR" />
    <result column="system_code" property="systemCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="use_status" property="useStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nick_name, mobile, email, login_pwd, trade_pwd, activate_code, activate_overtime, activate_state, 
    referral_code, certification_time,register_way,system_code, create_time, operate_time, use_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_lender_login
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_lender_login
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huizhongcf.cloud.model.LenderLogin" >
    insert into t_lender_login (id, nick_name, mobile, 
      email, login_pwd, trade_pwd, activate_code, 
      activate_overtime, activate_state, referral_code, 
      certification_time,register_way,system_code, create_time, operate_time
      )
    values (#{id,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR}, #{tradePwd,jdbcType=VARCHAR}, #{activateCode,jdbcType=VARCHAR}, 
      #{activateOvertime,jdbcType=INTEGER}, #{activateState,jdbcType=CHAR}, #{referralCode,jdbcType=VARCHAR}, 
      #{certificationTime,jdbcType=INTEGER}, #{registerWay,jdbcType=CHAR},#{systemCode,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huizhongcf.cloud.model.LenderLogin">
  	<selectKey keyProperty="id" resultType="int" order="AFTER">
		select LAST_INSERT_ID()
	</selectKey>
	
    insert into t_lender_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="loginPwd != null" >
        login_pwd,
      </if>
      <if test="tradePwd != null" >
        trade_pwd,
      </if>
      <if test="activateCode != null" >
        activate_code,
      </if>
      <if test="activateOvertime != null" >
        activate_overtime,
      </if>
      <if test="activateState != null" >
        activate_state,
      </if>
      <if test="referralCode != null" >
        referral_code,
      </if>
      <if test="certificationTime != null" >
        certification_time,
      </if>
      <if test="registerWay != null" >
        register_way,
      </if>
      <if test="systemCode != null" >
        system_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null" >
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="tradePwd != null" >
        #{tradePwd,jdbcType=VARCHAR},
      </if>
      <if test="activateCode != null" >
        #{activateCode,jdbcType=VARCHAR},
      </if>
      <if test="activateOvertime != null" >
        #{activateOvertime,jdbcType=INTEGER},
      </if>
      <if test="activateState != null" >
        #{activateState,jdbcType=CHAR},
      </if>
      <if test="referralCode != null" >
        #{referralCode,jdbcType=VARCHAR},
      </if>
      <if test="certificationTime != null" >
        #{certificationTime,jdbcType=INTEGER},
      </if>
      <if test="registerWay != null" >
        #{registerWay,jdbcType=CHAR},
      </if>
      <if test="systemCode != null" >
        #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huizhongcf.cloud.model.LenderLogin" >
    update t_lender_login
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null" >
        login_pwd = #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="tradePwd != null" >
       trade_pwd = #{tradePwd,jdbcType=VARCHAR},
      </if>
      <if test="activateCode != null" >
        activate_code = #{activateCode,jdbcType=VARCHAR},
      </if>
      <if test="activateOvertime != null" >
        activate_overtime = #{activateOvertime,jdbcType=INTEGER},
      </if>
      <if test="activateState != null" >
        activate_state = #{activateState,jdbcType=CHAR},
      </if>
      <if test="referralCode != null" >
        referral_code = #{referralCode,jdbcType=VARCHAR},
      </if>
      <if test="certificationTime != null" >
        certification_time = #{certificationTime,jdbcType=INTEGER},
      </if>
      <if test="registerWay != null" >
        register_way = #{registerWay,jdbcType=CHAR},
      </if>
      <if test="systemCode != null" >
        system_code = #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.huizhongcf.cloud.model.LenderLogin" >
    update t_lender_login
    set nick_name = #{nickName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      login_pwd = #{loginPwd,jdbcType=VARCHAR},
      trade_pwd = #{tradePwd,jdbcType=VARCHAR},
      activate_code = #{activateCode,jdbcType=VARCHAR},
      activate_overtime = #{activateOvertime,jdbcType=INTEGER},
      activate_state = #{activateState,jdbcType=CHAR},
      referral_code = #{referralCode,jdbcType=VARCHAR},
      certification_time = #{certificationTime,jdbcType=INTEGER},
      register_way = #{registerWay,jdbcType=CHAR},
      system_code = #{systemCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      operate_time = #{operateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 注册用户查询条件 -->
  <sql id="dynamicPageWhere">
  	<if test="nickName != null">
  		and tl.nick_name like '${nickName}%'
 	</if>
 	<if test="mobile != null">
  		and tl.mobile = #{mobile}
 	</if>
 	<if test="referralCode != null">
  		and tl.referral_code = #{referralCode}
 	</if>
 	<if test="registerWay != null">
  		and tl.register_way = #{registerWay}
 	</if>
 	<if test="systemCode != null">
  		and tl.system_code = #{systemCode}
 	</if>
 	<if test="minCreateTime != null">
 		and DATE_FORMAT(tl.create_time,'%Y-%m-%d') >= #{minCreateTime}
 	</if>
 	<if test="maxCreateTime != null">
 	<![CDATA[
 		and DATE_FORMAT(tl.create_time,'%Y-%m-%d') <= #{maxCreateTime}
 	]]>	
 	</if>
  </sql>
  
  <!-- 查询注册用户信息 -->
  <select id="findAllRetMapByPage" resultType="hashmap" parameterType="hashmap">
  	SELECT 
  	  tl.id,
	  tl.nick_name,
	  tl.mobile,
	  tl.referral_code,
	  tl.certification_time,
	  CASE
	    WHEN (
	      use_status = '0' 
	      OR use_status IS NULL
	    ) 
	    THEN '可用' 
	    WHEN use_status = '1' 
	    THEN '不可用' 
	  END use_status,
	  tl.register_way,
	  (select sd.dict_name from system_dict sd where sd.dict_type = 'REGISTER_WAY' and sd.dict_code = tl.register_way) register_way_name,
	  tl.system_code,
	  tl.create_time
	FROM t_lender_login tl
	WHERE 1=1 
  	<include refid="dynamicPageWhere" />
  	ORDER BY tl.create_time DESC
  	LIMIT #{startIndex},#{pageSize}  
  </select>
  <!-- 注册用户记录数 -->
  <select id="findAllByPageCount" resultType="long">
  	SELECT COUNT(1) FROM t_lender_login tl
  	WHERE 1=1 
  	<include refid="dynamicPageWhere" />
  	ORDER BY tl.id DESC
  </select>
  
  <update id="doJoinBlacklist" parameterType="integer">
  	UPDATE 
	  t_lender_login ll 
	SET
	  ll.use_status = 1 
	WHERE ll.id = #{id}
  </update>
  
</mapper>