#roleDlg {
    position: fixed;
    top: 15%;
    left: 30%;
    width: 800px;
    height: 800px;
    margin: 100px 100 0 0px;/* margin 负值为宽高的一半 */
}
#addDlg,#updateDlg{
    position: fixed;
    top: 0%;
    left: 30%;
    width: 800px;
    height: 800px;
    margin: 100px 100 0 0px;/* margin 负值为宽高的一半 */
}