<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzcf.basic.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.hzcf.basic.pojo.Menu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="name_en" property="nameEn" jdbcType="VARCHAR" />
    <result column="name_zh" property="nameZh" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="VARCHAR" />
    <result column="menu_status" property="menuStatus" jdbcType="CHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="menu_sort" property="menuSort" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menu_id, name_en, name_zh, menu_url, menu_icon, permission, menu_type, menu_status, 
    parent_id, menu_sort, remark, create_time, creator_id, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hzcf.basic.pojo.MenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hzcf.basic.pojo.MenuExample" >
    delete from t_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hzcf.basic.pojo.Menu" >
    insert into t_menu (menu_id, name_en, name_zh, 
      menu_url, menu_icon, permission, 
      menu_type, menu_status, parent_id, 
      menu_sort, remark, create_time, 
      creator_id, update_time)
    values (#{menuId,jdbcType=INTEGER}, #{nameEn,jdbcType=VARCHAR}, #{nameZh,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{menuIcon,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR}, 
      #{menuType,jdbcType=VARCHAR}, #{menuStatus,jdbcType=CHAR}, #{parentId,jdbcType=INTEGER}, 
      #{menuSort,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hzcf.basic.pojo.Menu" >
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="nameEn != null" >
        name_en,
      </if>
      <if test="nameZh != null" >
        name_zh,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="menuIcon != null" >
        menu_icon,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="menuType != null" >
        menu_type,
      </if>
      <if test="menuStatus != null" >
        menu_status,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="menuSort != null" >
        menu_sort,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="nameEn != null" >
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null" >
        #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null" >
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="menuStatus != null" >
        #{menuStatus,jdbcType=CHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuSort != null" >
        #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hzcf.basic.pojo.MenuExample" resultType="java.lang.Integer" >
    select count(*) from t_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_menu
    <set >
      <if test="record.menuId != null" >
        menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.nameEn != null" >
        name_en = #{record.nameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.nameZh != null" >
        name_zh = #{record.nameZh,jdbcType=VARCHAR},
      </if>
      <if test="record.menuUrl != null" >
        menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.menuIcon != null" >
        menu_icon = #{record.menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.permission != null" >
        permission = #{record.permission,jdbcType=VARCHAR},
      </if>
      <if test="record.menuType != null" >
        menu_type = #{record.menuType,jdbcType=VARCHAR},
      </if>
      <if test="record.menuStatus != null" >
        menu_status = #{record.menuStatus,jdbcType=CHAR},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.menuSort != null" >
        menu_sort = #{record.menuSort,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorId != null" >
        creator_id = #{record.creatorId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_menu
    set menu_id = #{record.menuId,jdbcType=INTEGER},
      name_en = #{record.nameEn,jdbcType=VARCHAR},
      name_zh = #{record.nameZh,jdbcType=VARCHAR},
      menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      menu_icon = #{record.menuIcon,jdbcType=VARCHAR},
      permission = #{record.permission,jdbcType=VARCHAR},
      menu_type = #{record.menuType,jdbcType=VARCHAR},
      menu_status = #{record.menuStatus,jdbcType=CHAR},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      menu_sort = #{record.menuSort,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      creator_id = #{record.creatorId,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzcf.basic.pojo.Menu" >
    update t_menu
    <set >
      <if test="nameEn != null" >
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null" >
        name_zh = #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null" >
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="menuStatus != null" >
        menu_status = #{menuStatus,jdbcType=CHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuSort != null" >
        menu_sort = #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzcf.basic.pojo.Menu" >
    update t_menu
    set name_en = #{nameEn,jdbcType=VARCHAR},
      name_zh = #{nameZh,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_icon = #{menuIcon,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=VARCHAR},
      menu_status = #{menuStatus,jdbcType=CHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      menu_sort = #{menuSort,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <!-- 设置查询条件 -->
   <sql id="dynamicPageWhere">
  	<if test="nameZh != null">
  		and name_zh LIKE CONCAT('%',#{nameZh},'%') 
 	</if>
  </sql>
  
  <!-- 根据用户id查找菜单 -->
  <select id="getMenuByEmployeeId" parameterType="int" resultMap="BaseResultMap">
	select 
			DISTINCT
				m.menu_id,
				m.name_en,
				m.name_zh,
				m.menu_icon,
				m.menu_url,
				m.parent_id
		FROM t_employee_role_relation err
		join t_role_menu_relation rmr on err.role_id = rmr.role_id
		join t_menu m on rmr.menu_id = m.menu_id
		join t_employee emp on emp.employee_id = err.employee_id
		where emp.employee_id = #{employeeId}
		and m.parent_id =#{pid}
		and m.menu_status != '3'
		and m.menu_type = 'menu'
		order by menu_sort
  </select>
  
  
  <!-- 查询菜单 列表分页 -->
  <select id="findAllRetMapByPage" resultType="hashmap" parameterType="hashmap">
  	SELECT
		menu_id,
		name_zh,
		menu_icon,
		permission,
		menu_type,
		CASE
			WHEN menu_status = '1' THEN '启用' 
			WHEN menu_status = '2' THEN '禁用' 
		end as  menu_status,
		menu_url,
		remark
	FROM
		t_menu
	where menu_status != '3'
	<include refid="dynamicPageWhere"/> 
	limit #{startIndex},#{pageSize}
  </select>
  
   <!--查询列表 分页总数 -->
  <select id="findAllByPageCount" resultType="long" parameterType="hashmap">
  	SELECT COUNT(*) FROM t_menu where menu_status != '3'
  	<include refid="dynamicPageWhere"/> 
  </select>
  
  <!-- 根据商户角色id 查询权限 -->
  <select id="permissionListRoleId" parameterType="int" resultMap="BaseResultMap">
  	SELECT
		m.menu_id,
		m.name_zh,
		m.menu_icon,
		m.menu_type,
		m.menu_url,
		m.permission,
		m.menu_type
	FROM
		t_menu m
	LEFT JOIN t_role_menu_relation mr ON m.menu_id = mr.menu_id
	WHERE
		mr.role_id =#{id}
		and m.menu_status != '3'
  </select>
  
  <!-- 查询所有pid为0的菜单 -->
  <select id="getParentMenuList" resultType="hashmap">
	  SELECT
		menu_id menuId,
		name_zh menuName,
		parent_id,
    	menu_icon
	FROM
		t_menu
	where parent_id = 0
	and menu_status = 1
  </select>
  
  <!--  校验菜单名称是否重复-->
  <select id="checkMenuNameIsRepeat" parameterType="hashmap" resultMap="BaseResultMap">
  	SELECT
		menu_id,
		name_zh
	FROM
		t_menu
	where name_zh =#{nameZh}
	and menu_status = 1
	<if test="menuId != null">
		and menu_id != #{menuId}
	</if>
  </select>
  
  
  <!-- 删除菜单 -->
  <select id="deleteMenuByMenuId" parameterType="hashmap">
  		UPDATE  t_menu
	SET menu_status = #{menuStatus},
	 creator_id = #{creatorId},
	 update_time = now()
	WHERE
		menu_id = #{menuId};
  </select>
  
  <select id="queryChildMenuByPid" parameterType="String" resultMap="BaseResultMap">
	  SELECT
		menu_id,
		menu_icon,
		parent_id,
		name_zh
	FROM
		t_menu
	WHERE
		parent_id =#{pid}
	AND menu_status = '1'
  </select>
  
</mapper>